* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: "Sora", Helvetica;
}

body {
  min-height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.display {
  height: 100px;
  width: 200px;
  background-color: rgb(246, 246, 246);
  border: 1px solid black;
}

.stored-output {
    height: 50px;
}

.result-output {
    height: 50px
}

.row-one,
.row-two,
.row-three,
.row-four,
.row-five {
    display: flex;
    gap: 3px;
}

.calculator {
    width: 220px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 3px 8px black;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.operators {
    background-color: rgb(255, 174, 0);
    color: white;
    font-size: 30px;
}

.operators:hover {
    background-color: rgb(255, 211, 91);
}

.operators:active {
    background-color: white;
    color: rgb(255, 174, 0);
}

.special {
    background-color: rgb(184, 184, 184);
}

.special:hover {
    background-color: rgb(230, 230, 230);
}

.number {
    background-color: rgb(50, 49, 49);
    color: white;
}

.number:hover {
    background-color: rgb(104, 103, 103);
}

footer {
    font-size: 12px;
}
